<div class="text-xl text-slate-700 py-5 lg:mt-5">
  <div class="flex flex-row gap-2 items-center mb-3 h-10">
    @if(hasBackButton) {
    <a mat-icon-button [routerLink]="backLink ? backLink : '../'">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </a>
    }
    @if(icon) {
    <mat-icon class="!text-slate-700 shrink-0">{{icon}}</mat-icon>
    }
    <p class="!m-0 truncate">{{title}}{{title}}{{title}}</p>
  </div>
  <hr />
  @if(isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
</div>
