<mat-toolbar class="lg:!hidden z-50 !h-auto flex justify-around !bg-slate-100">
  <t-bottom-nav-button i18n-text="@@upcoming-nav-text" link="admin/upcoming" text="Upcoming"
    icon="schedule"></t-bottom-nav-button>
  <t-bottom-nav-button i18n-text="@@services-nav-text" link="admin/services" text="Services"
    icon="local_mall"></t-bottom-nav-button>
  <t-bottom-nav-button i18n-text="@@settings-nav-text" link="admin/settings" text="Settings"
    icon="settings"></t-bottom-nav-button>
</mat-toolbar>
