<mat-dialog-content class="!max-h-none">
  <div class="flex flex-row justify-between w-full">
    <h6 class="text-start" i18n="@@new-appointment-dialog-title">
      New Appointment Slot
    </h6>
    <button class="shrink-0" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn-primary" mat-button mat-dialog-close>Cancel</button>
  <button class="btn-flat-primary" mat-flat-button>Save</button>
</mat-dialog-actions>
