<div>
  <div
    class="flex flex-row justify-between lg:justify-start py-2 lg:py-5 sticky top-0 bg-slate-50 z-10">
    <button
      mat-ripple
      (click)="onSelectDateClicked()"
      class="px-5 rounded-full !text-slate-700 flex items-center gap-1">
      <mat-icon>today</mat-icon>
      {{ selectedDate$ | async | date }}
    </button>
    <div class="flex gap-1">
      <button mat-icon-button (click)="previousDate()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="nextDate()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <button
    class="w-full p-2 mt-2 flex items-center gap-1 rounded-lg border-2 bg-slate-50 hover:bg-slate-100 border-primary-100 hover:border-primary-200 text-primary-300 hover:text-primary-400 transition-colors"
    mat-ripple
    (click)="onNewAppointmentSlotClicked()">
    <mat-icon>add</mat-icon>
    New Appointment Slot
  </button>

  @if (!isLoadingSlots) {
    @for (slot of appointmentSlots; track slot.id) {
      <div>{{ slot.id }}</div>
    }
  } @else {
    <div class="skeleton h-24 my-2"></div>
    <div class="skeleton h-24 my-2"></div>
    <div class="skeleton h-24 my-2"></div>
    <div class="skeleton h-24 my-2"></div>
    <div class="skeleton h-24 my-2"></div>
    <div class="skeleton h-24 my-2"></div>
    <div class="skeleton h-24 my-2"></div>
    <div class="skeleton h-24 my-2"></div>
  }
</div>
