@if(isLoadingAuthState$ | async) {
<div class="absolute top-0 w-full">
    <mat-progress-bar class="!border-red-500" mode="indeterminate"></mat-progress-bar>
</div>
}
<div class="shadow-sm bg-slate-100">
    <div class="px-5 py-3 flex flex-row justify-between items-center">
        <div>
            <img src="logo.svg" class="h-12" />
        </div>
        <div class="flex flex-row items-center rounded-full bg-slate-200">
            <div>
                @if (user$ | async; as user) {
                <div class="flex gap-2 items-center mr-1">
                    <img src="{{user.photoURL}}" alt="User Picture"
                        class="w-10 h-10 cursor-pointer rounded-full border-primary-300 border-2" />
                </div>
                }
            </div>
            <div class="flex gap-2">
                @if (user$ | async) {
                <button mat-flat-button class="btn-flat-primary" (click)="signOut()">Log out</button>
                }
                @else {
                <button mat-flat-button class="btn-flat-primary" [disabled]="isLoadingAuthState$ | async"
                    (click)="signInWithGoogle()">Sign in</button>
                }
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>