<div class="h-dvh flex flex-col">
  <div class="shrink-0 w-full z-50">
    <t-navbar [user]="user$ | async" [isLoadingAuthState]="isLoadingAuthState$ | async" (signIn)="signInWithGoogle()"
      (signOut)="signOut()" [allowSignIn]="(isAdminView$ | async) ?? false">
    </t-navbar>
  </div>

  <div class="grow flex overflow-hidden">
    @if(isAdminView$ | async) {
    <t-side-nav class="hidden lg:block w-1/4 xl:w-1/5 2xl:w-1/6 shrink-0" (signOut)="signOut()" [user]="user$ | async"
      [disabled]="!hasTenants && !(isLoadingAuthState$ | async)"></t-side-nav>
    }
    <div class="overflow-y-auto grow">
      @if(isAdminView$ | async) {
      <div class="bg-slate-100 w-8 h-8 absolute hidden lg:block">
        <div class="bg-slate-50 w-8 h-8 rounded-tl-full"></div>
      </div>
      }
      @if ((isLoadingAuthState$ | async) && (isAdminView$ | async)) {
      <div class="w-full h-full flex flex-col gap-5 items-center justify-center">
        <img src="logo.svg" class="w-1/2 md:w-1/4">
        <mat-progress-bar mode="indeterminate" class="!w-2/3 md:!w-1/3"></mat-progress-bar>
      </div>
      } @else {
      @if ((user$ | async) || !(isAdminView$ | async)) {
      <div class="px-5 md:px-8 lg:px-12 h-full">
        <router-outlet></router-outlet>
      </div>
      } @else {
      <div class="w-full h-full flex flex-col items-center justify-center gap-5">
        <img src="logo.svg" class="w-1/2 md:w-1/5">
        <div class="text-slate-900 text-lg flex gap-2 items-center">
          <a i18n="@@log-in-text" (click)="signInWithGoogle()"
            class="text-primary-300 cursor-pointer hover:underline">Log in</a>
          <span i18n="@@to-continue">to continue</span>
        </div>
      </div>
      }
      }
    </div>
  </div>

  @if((isAdminView$ | async) && hasTenants && !(isLoadingAuthState$ | async)) {
  <t-bottom-nav-bar></t-bottom-nav-bar>
  }
</div>
