@if(isLoadingAuthState$ | async) {
<div class="absolute top-0 w-full z-50">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
}
<div class="h-dvh flex flex-col">
    <div class="shrink-0 w-full z-40">
        <t-navbar [user]="user$ | async" [isLoadingAuthState]="isLoadingAuthState$ | async"
            (signIn)="signInWithGoogle()" (signOut)="signOut()">
        </t-navbar>
    </div>

    <div class="grow flex overflow-hidden">
        <nav class="hidden lg:flex flex-col gap-1 p-4 bg-slate-100 shadow-md shrink-0 w-1/4 xl:w-1/5 2xl:w-1/6">
            <t-side-nav-button i18n-text="@@upcoming-nav-text" link="./upcoming" text="Upcoming"
                icon="schedule"></t-side-nav-button>
            <t-side-nav-button i18n-text="@@services-nav-text" link="./services" text="Services"
                icon="local_mall"></t-side-nav-button>
            <t-side-nav-button i18n-text="@@settings-nav-text" link="./settings" text="Settings"
                icon="settings"></t-side-nav-button>
        </nav>
        <div class="overflow-y-auto grow">
            <router-outlet></router-outlet>
        </div>
    </div>


    <mat-toolbar class="lg:!hidden z-50 !h-auto flex justify-around !bg-slate-100 shadow-t-sm">
        <t-bottom-nav-button i18n-text="@@upcoming-nav-text" link="./upcoming" text="Upcoming"
            icon="schedule"></t-bottom-nav-button>
        <t-bottom-nav-button i18n-text="@@services-nav-text" link="./services" text="Services"
            icon="local_mall"></t-bottom-nav-button>
        <t-bottom-nav-button i18n-text="@@settings-nav-text" link="./settings" text="Settings"
            icon="settings"></t-bottom-nav-button>
    </mat-toolbar>
</div>