@if(tenant) {
<div class="mb-4 w-full flex gap-1 items-center">
  <mat-icon class="text-primary-300 shrink-0">storefront</mat-icon>
  <div class="text-lg text-slate-700 flex-grow overflow-ellipsis whitespace-nowrap overflow-hidden">
    {{tenant.name}}</div>
</div>
<div class="flex flex-row lg:flex-row-reverse gap-1 justify-end w-full">
  <a mat-button class="btn-primary" [routerLink]="['/admin/settings/tenant/edit', tenant.id]">
    <mat-icon>edit</mat-icon>
    <span i18n="@@edit">Edit</span>
  </a>
  <button mat-flat-button class="btn-flat-primary" (click)="openShareDialog()">
    <mat-icon>share</mat-icon>
    <span i18n="@@share">Share</span>
  </button>
</div>
} @else {
<div class="skeleton h-20"></div>
}
