@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-primary {
    @apply bg-slate-50 shadow-sm border-2 border-slate-100 #{!important};
  }

  .skeleton {
    @apply bg-slate-200 animate-pulse-fast rounded-lg;
  }
}

:root {
  /* Primary Colors */
  --primary-color-50: #ddf4f2;
  --primary-color-100: #aae3de;
  --primary-color-200: #6ed2c9;
  --primary-color-300: #00bfb2;
  --primary-color-400: #00b0a1;
  --primary-color-500: #00a18f;
  --primary-color-600: #009381;
  --primary-color-700: #008370;
  --primary-color-800: #007361;
  --primary-color-900: #005643;

  /* Secondary Colors */
  --secondary-color-50: #f4fcf5;
  --secondary-color-100: #eef6f0;
  --secondary-color-200: #e7eee8;
  --secondary-color-300: #d8dfd9;
  --secondary-color-400: #b5bcb6;
  --secondary-color-500: #969d97;
  --secondary-color-600: #6d746e;
  --secondary-color-700: #5a605b;
  --secondary-color-800: #3b413c;
  --secondary-color-900: #1b201c;

  /* Tailwind Colors */
  --tw-slate-50: rgb(248 250 252);
  --tw-slate-100: rgb(241 245 249);
  --tw-slate-300: rgb(203, 213, 225);
  --tw-slate-400: rgb(148, 163, 184);
  --tw-slate-500: rgb(100, 116, 139);
  --tw-slate-600: rgb(71, 85, 105);
  --tw-slate-700: rgb(51, 65, 85);
  --tw-slate-800: rgb(30, 41, 59);
  --tw-slate-900: rgb(15, 23, 42);
  --tw-slate-950: rgb(2, 6, 23);

  /* Material Override */
  --mdc-linear-progress-active-indicator-color: var(--primary-color-300);
  --mdc-linear-progress-track-color: var(--primary-color-50);
  --mdc-filled-text-field-caret-color: var(--primary-color-300);
  --mdc-filled-text-field-focus-active-indicator-color: var(--primary-color-300);
  --mdc-filled-text-field-focus-label-text-color: var(--primary-color-300);
  --mdc-filled-text-field-container-color: var(--tw-slate-100);
  --mdc-circular-progress-active-indicator-color: var(--primary-color-300);
  --mat-option-selected-state-layer-color: var(--primary-color-200)

  @include mat.progress-bar-overrides((active-indicator-color: var(--primary-color-300),
      track-color: var(--primary-color-50),
  ));

  @include mat.button-overrides((
      text-ripple-color: var(--primary-color-50),
      text-state-layer-color: var(--primary-color-200),
      text-label-text-color: var(--primary-color-300),
      filled-container-color: var(--primary-color-300),
      filled-label-text-color: var(--tw-slate-50)
  ));

  @include mat.datepicker-overrides((
    calendar-date-selected-state-text-color: var(--tw-slate-50),
    calendar-date-selected-state-background-color: var(--primary-color-300),
    calendar-date-today-selected-state-outline-color: var(--primary-color-300),
    calendar-date-today-outline-color: var(--primary-color-300),
    calendar-container-background-color: var(--slate-100)
  ));

  @include mat.slide-toggle-overrides((
    track-outline-color: var(--tw-slate-400),
    label-text-color: var(--tw-slate-700),
    selected-handle-color: var(--primary-color-100),
    selected-hover-state-layer-color: var(--primary-color-100),
    selected-pressed-state-layer-color: var(--primary-color-200),
    selected-focus-handle-color: var(--primary-color-100),
    selected-hover-handle-color: var(--primary-color-100),
    selected-pressed-handle-color: var(--primary-color-100),
    selected-focus-track-color: var(--primary-color-300),
    selected-hover-track-color: var(--primary-color-300),
    selected-pressed-track-color: var(--primary-color-300),
    selected-track-color: var(--primary-color-300),
    selected-icon-color: var(--primary-color-600),
    unselected-track-color: var(--tw-slate-200),
  ));
}

.full-screen-dialog {
  max-width: 100vw !important;
  max-height: 100vh !important;
  height: 100dvh !important;
  width: 100vw !important;
  box-shadow: none !important;

  --mdc-dialog-container-shape: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
