@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-flat-primary {
    @apply bg-primary-300 disabled:bg-primary-100 #{!important};
  }

  .btn-primary {
    @apply text-primary-300 hover:bg-primary-50 disabled:text-secondary-500 #{!important};
  }

  .menu-primary {
    @apply bg-slate-50 shadow-sm border-2 border-slate-100 #{!important};
  }

  .skeleton {
    @apply bg-slate-200 animate-pulse-fast rounded-lg;
  }
}

:root {
  /* Primary Colors */
  --primary-color-50: #ddf4f2;
  --primary-color-100: #aae3de;
  --primary-color-200: #6ed2c9;
  --primary-color-300: #00bfb2;
  --primary-color-400: #00b0a1;
  --primary-color-500: #00a18f;
  --primary-color-600: #009381;
  --primary-color-700: #008370;
  --primary-color-800: #007361;
  --primary-color-900: #005643;

  /* Secondary Colors */
  --secondary-color-50: #f4fcf5;
  --secondary-color-100: #eef6f0;
  --secondary-color-200: #e7eee8;
  --secondary-color-300: #d8dfd9;
  --secondary-color-400: #b5bcb6;
  --secondary-color-500: #969d97;
  --secondary-color-600: #6d746e;
  --secondary-color-700: #5a605b;
  --secondary-color-800: #3b413c;
  --secondary-color-900: #1b201c;

  /* Tailwind Colors */
  --tw-slate-100: rgb(241 245 249);

  /* Material Override */
  --mat-text-button-ripple-color: var(--mat-ripple-color);
  --mdc-linear-progress-active-indicator-color: var(--primary-color-300);
  --mdc-linear-progress-track-color: var(--primary-color-50);
  --mdc-filled-text-field-caret-color: var(--primary-color-300);
  --mdc-filled-text-field-focus-active-indicator-color: var(--primary-color-300);
  --mdc-filled-text-field-focus-label-text-color: var(--primary-color-300);
  --mdc-filled-text-field-container-color: var(--tw-slate-100);

  @include mat.progress-spinner-overrides((active-indicator-color: var(--primary-color-300),
    ));

  @include mat.progress-bar-overrides((active-indicator-color: var(--primary-color-300),
      track-color: var(--primary-color-50),
    ));
}
