<h2
  mat-dialog-title
  class="text-center w-full"
  i18n="@@share-business-dialog-title">
  Share your business
</h2>
<mat-dialog-content>
  <div class="flex flex-col items-center overflow-hidden w-full">
    <div class="border-primary-100 border-2">
      <qrcode
        [qrdata]="publicUrl"
        (qrCodeURL)="onChangeQrUrl($event)"
        elementType="img"
        [width]="200"
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </div>
    <a
      mat-button
      class="mb-4 mt-1"
      [href]="qrCodeDownloadLink"
      [download]="'termince-' + tenant.slug">
      <mat-icon>download</mat-icon>
      <span i18n="@@download">Download</span>
    </a>
    <div
      class="flex gap-1 items-center justify-between lg:justify-start w-full">
      <a
        href="{{ publicUrl }}"
        target="_blank"
        class="text-slate-700 underline overflow-ellipsis whitespace-nowrap overflow-hidden"
        >{{ publicUrl }}
      </a>
      <button
        mat-icon-button
        class="shrink-0 ml-1 lg:ml-5"
        (click)="copyPublicUrl()"
        i18n-matTooltip="@@link-to-your-appointments"
        matTooltip="Copy link to this business">
        @if (!isCopied) {
          <mat-icon>content_copy</mat-icon>
        } @else {
          <mat-icon class="text-primary-300">check</mat-icon>
        }
      </button>
    </div>
    <div
      class="text-slate-500 text-sm -mt-2 place-self-start"
      i18n="@@share-this-link">
      This is the link to your appointments
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close i18n="@@close">Close</button>
</mat-dialog-actions>
